@tailwind base;
@tailwind components;
@tailwind utilities;



  
body{
    font-family: "Jost", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




.animated-underline {
    display: inline-block;
    text-decoration: none;
}

.animated-underline::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black ;
    transition: width .3s;
}

.animated-underline:hover::after {
    width: 100%;
    transition: width .3s;
}



